.App{
  min-height: 100vh;
  background-image: url(./images/splash.jpg);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
  background-color: lightcoral;
  padding: 10px 20px;
  color: white;
  border: none;
}
.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1{
  text-align: center;
  color: brown;
  justify-content: center !important;
  align-items: center;
  

}
